* {
    display: flex;
    justify-content: center;
    background-color: rgb(229, 227, 227);
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

title {
    display: none;
}

.container {
    border: solid 2px;
    border-radius: 16px;
    height: 550px;
    width: 400px;
    background-color: rgb(170, 169, 169);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-block: 20px;
}

.display {
    border: solid 2px;
    border-radius: 8px;
    height: 100px;
    width: 350px;
    background-color: rgb(146, 168, 146);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.display-content {
    border-radius: 8px;
    background-color: rgb(146, 168, 146);
    font-size: 40px;
    padding-right: 20px;
    padding-top: 0px;
}

#dc1 {
    font-size: 20px;
}

.btn-container {
    height: 450px;
    width: 350px;
    background-color: rgb(170, 169, 169);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px
}

.button {
    border: solid 2px;
    border-radius: 8px;
    height: 65px;
    font-size: 20px;
}

.button:hover {
    background-color: rgb(255, 255, 255);
}

#equal {
    grid-column: 3 / span 2;
}
